<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>facscienceDWP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionFilieres</display-name>
    <servlet-name>GestionFilieres</servlet-name>
    <servlet-class>GestionFilieres</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionFilieres</servlet-name>
    <url-pattern>/GestionFilieres</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionEtudiant</display-name>
    <servlet-name>GestionEtudiant</servlet-name>
    <servlet-class>GestionEtudiant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEtudiant</servlet-name>
    <url-pattern>/GestionEtudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionEnseignant</display-name>
    <servlet-name>GestionEnseignant</servlet-name>
    <servlet-class>GestionEnseignant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEnseignant</servlet-name>
    <url-pattern>/GestionEnseignant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionMatiere</display-name>
    <servlet-name>GestionMatiere</servlet-name>
    <servlet-class>GestionMatiere</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMatiere</servlet-name>
    <url-pattern>/GestionMatiere</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnection</display-name>
    <servlet-name>Deconnection</servlet-name>
    <servlet-class>Deconnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnection</servlet-name>
    <url-pattern>/Deconnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionRequettes</display-name>
    <servlet-name>GestionRequettes</servlet-name>
    <servlet-class>GestionRequettes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionRequettes</servlet-name>
    <url-pattern>/GestionRequettes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionNotes</display-name>
    <servlet-name>GestionNotes</servlet-name>
    <servlet-class>GestionNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionNotes</servlet-name>
    <url-pattern>/GestionNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionChoix</display-name>
    <servlet-name>GestionChoix</servlet-name>
    <servlet-class>GestionChoix</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionChoix</servlet-name>
    <url-pattern>/GestionChoix</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MatiereRedirect</display-name>
    <servlet-name>MatiereRedirect</servlet-name>
    <servlet-class>MatiereRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatiereRedirect</servlet-name>
    <url-pattern>/MatiereRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requette</display-name>
    <servlet-name>Requette</servlet-name>
    <servlet-class>Requette</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requette</servlet-name>
    <url-pattern>/Requette</url-pattern>
  </servlet-mapping>
</web-app>